@using SocialNetwork.Web.Constants
@model SocialNetwork.Web.ViewModels.PostViewModel

@{

}

<div class="well post" id="post-@Model.PostId">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="@Model.Author.ProfileImgUrl" width="40" height="40">
        </a>
        <div class="media-body">
            <h4 class="media-heading">@Model.Heading</h4>
            <p class="text-right">By @Model.Author.Username</p>
            <p class="post-text">@Model.Text</p>
            <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i> @Model.PublishedAt.ToShortDateString() </span></li>
                <li>|</li>
                <li><span><i class="glyphicon glyphicon-thumbs-up"></i> @Model.LikedBy.Count likes</span></li>
                <li>|</li>
                <li><span><i class="glyphicon glyphicon-thumbs-down"></i> @Model.DislikedBy.Count dislikes</span></li>
                @if (Model.AllowedActions.Contains(PostAction.Delete))
                {
                    <li class="control-btn control-btn-delete">
                        <span>
                            <button class="btn btn-primary">Delete</button>
                        </span>
                    </li>
                }
                @if (Model.AllowedActions.Contains(PostAction.Edit))
                {
                    <li class="control-btn control-btn-edit">
                        <span>
                            <button class="btn btn-primary">Edit</button>
                        </span>
                    </li>
                }
                @if (Model.AllowedActions.Contains(PostAction.Dislike))
                {
                    <li class="control-btn control-btn-dislike">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                    </li>
                }
                else if (Model.AllowedActions.Contains(PostAction.UnDislike))
                {
                    <li class="control-btn control-btn-undislike">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                    </li>
                }
                @if (Model.AllowedActions.Contains(PostAction.Like))
                {
                    <li class="control-btn control-btn-like">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </li>
                }
                else if (Model.AllowedActions.Contains(PostAction.UnLike))
                {
                    <li class="control-btn control-btn-unlike">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>